*{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color: #0086f3;
}

a:hover{
    color: #eb0707;
}

body{
    font-family: comic sans ms, sans-serif;
    line-height: 1.6;
    background-color: #a2cfec;
    color: #1f1e1e;
}

#intereses,
#verano{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 40vh 40vh 10vh;
    height: 500%;
    gap: 10px;
    padding: 10px;
}


#informacio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

#topcanciones{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    gap: 10px;
    padding: 10px;
}

#inici{ 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
}

.intereslectura,
.viatge{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}


.interesvideojuegos,
.activitats{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}

.interesamigos,
.muntanya
{
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}

.interesseries,
.amics{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}

.intereslectura img,
.viatge img{
    grid-column: 1/2;
    grid-row: 2/3;
    border-radius: 20px;
    object-fit: cover;
    height: 50%;
    
}

.interesvideojuegos img,
.activitats img{
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 20px;
    object-fit: cover;
    height: 50%;
}

.interesamigos img, 
.muntanya img{
    grid-column: 1/2;
    grid-row: 3/4;
    border-radius: 20px;
    object-fit: cover;
    height: 50%;
}

.interesseries img,
.amics img
{
    grid-column: 2/3;
    grid-row: 3/4;
    border-radius: 20px;
    object-fit: cover;
    height: 50%;
}


.header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #39718f;
    color: #fff;
    padding: 0;
    text-align: center;
}

.nav{
    background-color: #39718f;
    color: #fff;
    padding: 0;
    text-align: center;
}

.nav summary{
    cursor: pointer;
    padding: 8px;
    font-weight: bold;
}

.nav ul{
    list-style: none;
}

.nav li{
    padding: 4px 0;
}

.nav a{
    color: #fff;
}

#verano{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 90vh;
    height: 500%;
    gap: 10px;
    padding: 10px;
}

.viatge, .activitats, .muntanya, .amics{
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}



.presentacio{
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}


.nizar{
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}

#topcanciones{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}

.cancion{
    padding: 10px;
    border: 2px solid #39718f;
    border-radius: 8px;
    background-color: #e8f4fb;
}

.boton-cancion{
    background-color: #39718f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

summary:hover{
    background-color: #2c5d73;
    color: #eb0707;
}

.footer{
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #39718f;
    color: #fff;
    padding: 0;
    text-align: center;
}

@media (max-width: 1200px) {
    #verano, #intereses, #inici, #informacio{
        font-size: 10px;
    }
}